* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;

}


/* HERO IMAGE */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("assets/Menu\ 2.png");

}

.hero-text h1 {
    color: white;
    font-size: 8rem;
    font-family: 'Oswald', sans-serif;
    text-shadow: rgba(255, 255, 255, 0.9) 0px 0px 26px;
    text-align: center;

}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    padding: 15px;

}

.infos a {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #fff;

}

.infos a:hover {
    color: #B67CE4;
    transition: 0.3s;
}

.site-image {
    display: flex;
    justify-content: center;
    align-items: center;
}


.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description img {
    height: 100vh;
}

.figma {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}


.figma iframe {
    border-radius: 30px;
    padding: 35px;
    margin: 50px;
}


#homebar {
    font-family: 'Poppins', sans-serif;
    position: sticky;
    z-index: 999;
    bottom: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.705);
    padding: 5px;
    display: flex;
    justify-content: center;

}

#homebar a {
    text-align: right;
    padding: .5em;
    font-size: 20px;
    color: black;

}

#homebar a:hover {
    text-shadow: rgba(125, 14, 189, 0.925) 0px 0px 26px;
}

.sticky-nav {
    transition: background-color 0.3s ease-in-out;
}

.sticky-nav.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
}


nav {
    display: flex;
    align-items: center;
    height: 50px;
    position: fixed;
    max-width: 30rem;
    width: 90vw;
    margin: 0 auto;
    bottom: 2rem;
    left: 0;
    right: 0;
    border-radius: 25px;


}

nav ul {
    display: flex;
    justify-content: space-around;

}


a {
    text-decoration: none;
    padding: 1.2em .5em;

}
